# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Packages/*/Package.resolved

# macOS
.DS_Store
*.profraw
*.trace

# Editors
.vscode/
.idea/
